@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$purple-color: #6c63ff;
$purple-dark-color: #5a51fc;
$yellow-color: #ffb703;
$white-color: #fff;
$white-color-opacity8: rgba(255, 255, 255, 0.8);
$black-color07: rgba(0, 0, 0, 0.7);
$bg-gray-color: #f5f5f8;
$secondary-color: #3f3d56;
$color-animation-time: 0.3s;
$padding-20: 20px;
$border-radius-5: 5px;
$priceBoxMaxWidth: 300px;
$priceBoxMinHeight: 340px;

* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*,
body a,
span {
    font-family: "Arimo", sans-serif !important;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Arimo", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

// #region GLOBAL

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
    width: 100%;
    height: auto;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}
.ml-5 {
    margin-left: 5px;
}
.color-purple {
    color: $purple-color !important;
}

.bg-purple {
    background-color: $purple-color !important;
}
.bg-dark-purple {
    background-color: $purple-dark-color;
}

.fw-bold {
    font-weight: bold;
}

.fs-18 {
    font-size: 18px;
}

.no-border {
    border: none !important;
}
.bg-gray {
    background-color: $bg-gray-color !important;
}
.mbs-hide {
    @media screen and (max-width: 320px) {
        display: none;
    }
}

.tablet-hide {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.form-control {
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.09px;
    color: #1e1e25;
    border-radius: 0px;
    box-shadow: 0 2px 6px 0 #e6e6e6;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 16px 20px;
}

.purple-button {
    width: 100%;
    background-color: $purple-color;
    color: $white-color;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}

.yellow-button {
    width: 100%;
    background-color: $yellow-color;
    color: $white-color;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}

.form-check-input {
    border-radius: 0;
}

.section-content {
    min-height: 50vh;
    padding-top: 100px;
    padding-bottom: 100px;

    &.bg-gray {
        .section-title {
            color: $purple-color;
        }
    }

    .section-image {
        max-height: 50vh;
    }
}

.pointer-link {
    cursor: pointer;
}
.border-right-1 {
    border-right: 1px solid white;
}

.mb-xs-20 {
    @media screen and (max-width: 425px) {
        margin-bottom: 20px;
    }
}

.mx-height-none {
    max-height: none !important;
}
.overflow-y-hidden {
    overflow-y: hidden !important;
}
// #endregion GLOBAL

// #region landing-page navbar
.navbar {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    box-shadow: 0px 0.7px 0px #00000020;

    .navbar-brand {
        font-weight: 400 !important;
        font-size: 18px !important;
        color: rgb(0, 0, 0);

        .navbar-img {
            width: 72px;
            height: auto;
            margin-right: 20px;
        }
    }

    .seperator {
        width: 1px;
        height: 26px;
        /* padding: 15px 10px; */
        margin: 0 5px;
        border-radius: 0.5px;
        background-color: #eceaf0;
    }

    .auth-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1024px) and (min-width: 767px) {
            .nav-link {
                text-align: center;
            }
        }
    }

    .nav-link {
        color: $black-color07;
        font-weight: bold;
        font-size: 15px;
        transition: color $color-animation-time ease-in-out;
        position: relative;

        &.sign-up {
            padding: 8px 22px;
            background-color: $purple-color;
            border-radius: 5px;
            color: $white-color;
            margin-left: 10px;
            &:hover {
                background-color: $purple-dark-color !important;
                color: $white-color !important;
            }
            &:hover:before {
                display: none !important;
            }
        }

        &.sign-in {
            color: $purple-color !important;
            transition: color $color-animation-time ease-in-out;
        }

        &:before {
            content: "";
            position: absolute;
            width: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $purple-color !important;
            height: 3px;
            transition: 0.3s;
            margin: auto;
        }

        &:hover:before {
            width: 100%;
        }

        &:hover {
            color: $purple-color !important;
        }
    }

    &.fixed-top {
        background-color: $purple-color !important;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
        transition: all 0.2s ease-in !important;

        .nav-link.sign-in,
        .nav-link,
        .color-purple {
            color: $white-color !important;
            transition: color $color-animation-time ease-in-out;
        }
    }

    .site-name,
    .site-sub-name {
        @media screen and (max-width: 768px) and (min-width: 768px) {
            display: none;
        }
    }
}

//#endregion landing-page navbar

// #region landing page carousel
.swiper-container {
    .swiper-slide {
        .slide-text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            text-align: right;

            .slide-title {
                font-size: 3rem;
            }

            .slide-subtitle {
                font-size: 1.2rem;
            }
        }
    }
}

.swiper-pagination-bullet-active {
    background-color: #6c63ff !important;
    opacity: 1;
}
// #endregion landing page carousel

// #region landing-page #purpose
#purpose {
}
// #endregion landing-page #purpose

// #region landing-page #contact
#contact {
    .contact-form-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
// #endregion landing-page #contact

// #region landing-page footer
#footer {
    min-height: 30vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        max-width: 120px;
    }

    .list-group {
        .list-group-item {
            background-color: transparent;
            border: none;
            padding: 0.25rem 0.75rem;
            color: $white-color;
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: $white-color;
                &:hover {
                    color: $white-color-opacity8;
                }
            }
            @media screen and (max-width: 767px) {
                justify-content: center;
                align-items: center;
            }
        }
    }
}

#sub-footer {
    background-color: $purple-dark-color;
    padding: 10px 0;
    color: $white-color;
    font-size: 14px;
}
// #endregion landing-page footer

// #region landing-page #pricing
#pricing {
    .price-list {
        display: flex;
        flex-direction: row;

        .price-box {
            padding: $padding-20;
            min-height: $priceBoxMinHeight;
            border-radius: $border-radius-5;
            border: 2px solid #efefef;
            display: flex;
            flex-direction: column;

            &:hover {
                border: 2px solid $purple-color;
                transition: all 0.2s ease-in-out;
            }

            .title {
                font-size: $padding-20;
                font-weight: bold;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                span {
                    background-color: $purple-color;
                    color: $white-color;
                    padding: 3px $padding-20;
                    margin-top: -$padding-20;
                    margin-bottom: $padding-20;
                    border-radius: 0 0 $border-radius-5 $border-radius-5;
                }
            }

            .features {
                flex: 1 1;
                .feature-item {
                    font-weight: 400;
                    font-size: 15px;
                    padding: 5px 0;

                    span {
                        display: flex;
                        flex: 1;
                        justify-content: center;
                        align-items: center;
                        font-style: italic;
                        text-align: center;
                    }
                }
            }

            .price {
                min-height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                font-weight: 800;
                font-style: italic;
                color: $purple-color;
            }
        }
        .swiper-container {
            width: 100%;
            &.section-content {
                min-height: 0;
            }

            .swiper-wrapper {
                @media screen and (min-width: 769px) {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    margin-left: 5px;
                }
            }
        }
    }
}
// #endregion landing-page #pricing

// #region auth-screen
.auth {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

    .full-height {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    .form-content {
        .login-form {
            width: 360px;

            @media screen and (max-width: 425px) {
                width: 320px;
            }

            @media screen and (max-width: 375px) {
                width: 290px;
            }

            @media screen and (max-width: 320px) {
                width: 240px;
            }
        }

        .logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            h1 {
                text-align: center;
            }
            .logo {
                width: 120px;
                margin-bottom: 20px;
            }

            .description {
                font-size: 14px;
                font-style: italic;
                text-align: center;
            }
        }

        .right-top-button {
            position: absolute;
            top: 50px;
            right: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            color: $purple-color;

            @media screen and (max-width: 768px) and (min-width: 768px) {
                right: 0px;
            }
        }

        .left-top-button {
            position: absolute;
            top: 50px;
            left: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            color: $purple-color;

            @media screen and (max-width: 768px) and (min-width: 768px) {
                left: 0px;
            }
        }
    }

    .form-content-right {
        background-color: $purple-color;
        color: $white-color;

        .form-content-right-image {
            width: 40%;
            height: auto;
        }

        .text-container {
            text-align: center;
            margin-top: 40px;

            h1 {
                font-size: 2rem;
            }
        }
    }
}

// #endregion auth-screen

// #region app-screen
.app {
    .navbar {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        background-color: #1e1e25 !important;

        .navbar-brand {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 20px;
            .navbar-img {
                width: 56px;
                margin-right: 10px;
            }
            .site-sub-name {
                margin-top: -5px;
            }
            .site-name {
                color: #fff !important;
            }
        }
        .nav-link {
            color: $white-color !important;
        }

        .user-dropdown {
            .custom-dropdwon-toggle {
                border: none;
                background-color: transparent !important;

                &:focus {
                    box-shadow: none;
                }

                &::after {
                    content: none !important;
                }
            }
            .dropdown-menu {
                width: 320px;
                border-radius: 0;

                .dropdown-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .dropdown-item-icon {
                        margin-right: 10px;
                    }
                }

                .user-name {
                    font-size: 16px;
                    font-weight: 500;
                }
                .user-email {
                    font-size: 14px;
                    color: #8f8b9f;
                }

                &::after {
                    position: absolute;
                    display: inline-block;
                    margin-right: 0.255em;
                    content: "";
                    border-top: 0.8em solid transparent;
                    border-left: 0.8em solid;
                    border-bottom: 0.8em solid transparent;
                    color: white;
                    right: -1em;
                    top: 1em;
                }

                @media screen and (max-width: 425px) {
                    width: 280px;

                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .card-menu-container {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        flex-grow: 1;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .card-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 160px;
            min-height: 160px;
            border: 2px solid transparent;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            background-color: $secondary-color;
            color: $white-color;
            @media screen and (min-width: 768px) {
                margin-right: 20px;
            }

            @media screen and (max-width: 476px) {
                min-width: 160px;
            }

            &:hover {
                border: 2px solid $purple-dark-color;
                transition: border 0.4s ease-in-out;
            }

            .card-menu-title {
                margin-top: 10px;
                font-weight: 600;
                letter-spacing: 0.3px;
            }
            // @media screen and (min-width: 426px) {
            //     + .card-menu {
            //         margin-left: 20px;
            //     }
            // }
        }

        @media screen and (max-width: 425px) {
            margin-bottom: 20px;
        }
    }

    .section-content {
        min-height: 50vh;
        padding-top: 100px;
        padding-bottom: 100px;

        @media screen and (max-width: 425px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    .game-card-container {
        justify-content: space-between;
        .game-card {
            border: 1px solid $bg-gray-color;
            margin-bottom: 20px;
            // margin-right: 10px;
            .game-image {
            }
            .game-content {
                .game-description {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 5; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    font-size: 15px;
                }
            }

            .game-title {
                font-size: 18px;
            }

            &:hover {
                // background-color: #efefef;
            }
        }
    }

    .score-board,
    .last-played-games {
        max-height: 50vh;
        overflow-y: scroll;
    }
    .score-board {
        .list-group-item {
            &.active {
                background-color: $purple-color;
            }
        }
    }

    .last-played-games {
        .list-group-item {
            img {
                width: 72px;
            }
        }
    }
}
.game-modal {
    width: 85% !important;
    max-width: none !important;
    height: 85%;
    max-height: none;

    .modal-content {
        height: 85%;
    }
}

.friends-modal {
    width: 500px !important;
    max-width: none !important;
    height: calc(100vh - 175px);
    min-height: 550px;
    // max-height: 550px;

    .modal-content {
        // height: 85%;
        min-height: 550px;
        max-height: 550px;
    }
    .friend-list {
        max-height: none !important;
    }
}
.friend-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 460px;
    position: relative;

    .friend-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 5px;
        a {
            text-decoration: none;
            color: $purple-dark-color;
        }
    }
}
.scrollable {
    overflow-y: scroll !important;
}

.group-card {
    &:hover {
        cursor: pointer;
        background-color: $purple-color;
        color: $white-color;
    }

    &.active {
        background-color: $purple-color;
        color: $white-color;
    }
}

.detail-tabs {
    .nav-item {
        cursor: pointer;
    }

    .nav-link {
        color: #1e1e25 !important;
    }
    .active {
        color: $purple-color !important;
    }
}

.border-left-1 {
    border-left: 1px solid $bg-gray-color;
}

.image-area {
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    position: relative;
}
.img-wrapper {
    width: 220px;
    height: 320px;
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 180%;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.3);
        z-index: 1;
        transform: skew(45deg);
        transition: 0.5s;
    }
    &:hover {
        &:before {
            left: -180%;
        }
        img {
            filter: grayscale(0%);
            transform: scale(1.1);
        }
        h2 {
            transform: perspective(320px) rotateY(0deg);
        }
        h5 {
            transform: perspective(320px) rotateY(0deg);
        }
        ul {
            li {
                transform: perspective(800px) rotateY(0deg);
                &:nth-child(1) {
                    transition-delay: 0.2s;
                }
                &:nth-child(2) {
                    transition-delay: 0.6s;
                }
                &:nth-child(3) {
                    transition-delay: 0.8s;
                }
                &:nth-child(4) {
                    transition-delay: 1s;
                }
            }
        }
    }
    img {
        height: auto;
        width: 100%;
        filter: grayscale(100%);
        transform-origin: center;
        transition: 1s;
    }
    h2 {
        background: $purple-color;
        font-family: Poppins;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 10px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: perspective(400px) rotateY(90deg);
        // transform-origin: right;
        transition: 1s;
    }
    ul {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        background: rgba(255, 255, 255, 0);
        li {
            background: #333;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 40px;
            transform: perspective(800px) rotateY(90deg);
            transition: 0.5s;
            transform-origin: left;
            a {
                color: $purple-color;
                background: rgba(255, 255, 255, 0);
            }
            i {
                color: $purple-color;
                background: rgba(255, 255, 255, 0);
                &:hover {
                    color: #fff;
                    background: rgba(255, 255, 255, 0);
                }
            }
        }
    }
}

.team-members{
    flex-direction: row;
    @media screen and (max-width:475px) {
        flex-direction: column;
        align-items: center;
    }
}


// #endregion app-screen
